
<p style="color: green"><%= notice %></p>
<a><%= link_to "New workout", new_workout_path , class: 'btn-new-workout'%></a>
<hr>
<h1 class="title-workouts">Your Workouts</h1>

<div id="workouts">
  <% @workouts.each do |workout| %>
  <div class="workout-box">
 <%= link_to workout.title, workout, class: 'btn btn-workout' %>
  </div>
  <% end %>
</div>
